streamlit
SpeechRecognition
deep-translator
PyPDF2
gTTS
nltk
reportlab
openai
fastapi
uvicorn
pydantic
transformers
openai-whisper
deepface
scikit-learn
easyocr
pytesseract
pdf2image
pytube
mediapipe
langdetect
opencv-python
numpy
Pillow
python-multipart
